.navbar {
    background-color: #FF8B4E;
    border-bottom: 1px solid #eb651d;
}

.nav-link{
    font-size: 1.4em;
    color: rgb(252, 230, 205) !important;
}

.nav-link:hover{
    color: rgb(255, 243, 230) !important;
}

.nav-link.active{
    font-size: 1.4em;
    color: #fff !important;
}