.publicacion{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

h3{
    color: #0088DE;
}

p{
    line-height: 1.2em;
    color: #333;
}

.icon-like{
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s;
}

.icon-like:hover{
    color: rgb(255, 172, 172);
    transition: 0.3s;
}

.name-user{
    line-height: 1em;
    font-size: 1em;
}

.image-user{
    width: 30px;
    height: 30px;
    border: 2px solid #666;
}

em{
    line-height: 1.4;
    font-size: 0.6em;
}

.icon-option{
    color: #666;
    cursor: pointer;
    transition: 0.5s;
}

.icon-option:hover{
    color: #222;
    transition: 0.5s;
}