.info{
    text-align:center;
    margin-top: 12%;
}

.info h6{
    margin-bottom: 25px;
}

.info p{

    margin-top: 15px;
    margin-bottom: 15px;
}

.redesS{
    text-align:center;
    margin-top: 7%;
}

.icons{
    text-align: center;
    margin-top: 5%;

}

.icons i{

    font-size: 38px;
    color:#01A99A;
}