.bg-login{
    background-image: url(/images/bgLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo{
    font-size: 1.1em;
}

h2 {
    text-align: center;
    overflow: hidden;
}

h2 p::after, h2::before{
    content: "";
    display: inline-block;
    width: 100%;
    height:0.3em;
    border-top: solid 1px #01A99A;
}

h2::before{
    margin-left: -100%;
    margin-right: 10px;
}

h2::after{
    margin-right: -100%;
    margin-left: 10px;
}

.tituloCampo{
    font-size: 0.8em;
}

.form-control,button[type="submit"]{
    min-width: 300px;
}