.navbar {
    background-color: #2ABB47;
    border-bottom: 1px solid #227e34;
}

.nav-link{
    font-size: 1.4em;
    color: rgb(206, 252, 205) !important;
}

.nav-link:hover{
    color: rgb(230, 255, 233) !important;
}

.nav-link.active{
    font-size: 1.4em;
    color: #fff !important;
}